<h3> JNB Best Summer Job</h3>
Let's find out how to determine the best summer job for students.

In [1]:
#Initialize the Scores for Each Team
import pandas as pd
df=pd.DataFrame([{'Group':'score','1':0,'2':0,'3':0,'4':0,'5':0}])
df=df.set_index('Group',drop=True)
%run ./SCORE.ipynb
#Setup the PowerPoint
%run ./PPTSETUP.ipynb
PPTSETUP('Powerpoint.pdf')

<h3> Preliminary Step</h3> What commands are used to import the following library pandas as pd?
<hr>

In [2]:
import pandas as pd

<h3> STEP ONE </h3>
How do you make a data frame?
<hr>

In [3]:
#Data for five summer jobs
SomeData= {'Job': ['data analyst', 'camp counselor', 'lifeguard', 'babysitter', 'golf caddy', 'etsy shop', 'barista', 'landscaper'],
            'Full Time': [True, True, False, False, False, False, True, True],
            'Inside': [True, False, False, True, False, True, True, False],
            'Low Pay': [True, True, True, False, False, True, False, False],
             } #can add more jobs and conditions
relevantJobs = pd.DataFrame(SomeData)
relevantJobs #this will print out the data that is going into the map

              Job  Full Time  Inside  Low Pay
0    data analyst       True    True     True
1  camp counselor       True   False     True
2       lifeguard      False   False     True
3      babysitter      False    True    False
4      golf caddy      False   False    False
5       etsy shop      False    True     True
6         barista       True    True    False
7      landscaper       True   False    False

<h3> STEP TWO </h3>
Now let's write a function that lets us add more jobs to the data frame.
<hr>

In [4]:
def addJob(job, fullTime, inside, lowPay):
    relevantJobs.loc[len(relevantJobs.index)] = [job, fullTime, inside, lowPay]
    return

In [5]:
addJob("tutor", False, True, False) #using the function
relevantJobs #display again

              Job  Full Time  Inside  Low Pay
0    data analyst       True    True     True
1  camp counselor       True   False     True
2       lifeguard      False   False     True
3      babysitter      False    True    False
4      golf caddy      False   False    False
5       etsy shop      False    True     True
6         barista       True    True    False
7      landscaper       True   False    False
8           tutor      False    True    False

See how tutor is now added to the bottom of the data frame. Now you try using the function for a different job.

In [6]:
#test the function by adding more jobs to the dataframe

<h3> STEP THREE </h3>
Finally we will make a function to match the job to a person's preferences.
<hr>

In [7]:
def matchjobs(fulltime, inside, lowpay):
    df=relevantJobs.loc[(relevantJobs['Full Time']== fulltime) & (relevantJobs['Inside']==inside) & (relevantJobs['Low Pay'] == lowpay),['Job']]
    return df

matchjobs(False, True, False)

          Job
3  babysitter
8       tutor

Now you guys can test the function to find your ideal summer job.

In [8]:
#test matchjobs function here

<h3> Discussion </h3>
1. Has anyone had a summer job before that influenced their preferences? <br>
2. Would you pursue the jobs that were recommended?
<hr>